<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>bootstrap}}


    <title>Index</title>
    {{>animationonscroll}}

    <link rel="stylesheet" href="css/style.css">

    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
        integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />









</head>

<body>

    {{>navbar}}

    <!-- main header -->
    <div data-aos="zoom-in"
        style="height:100%;display:flex;flex-direction:column;align-items:center;justify-content:center;">
        <div class="container-fluid main-header">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">

                    <div class="main-content">
                        <form class="temp_form">
                            <input type="number" id="postid" min=1 max=100 placeholder="Enter Post id between 1 to 100">
                            <input type="submit" value="search" id="submitbtn">
                        </form>
                    </div>
                    <div class="tempInfo">
                        <div class="topLayer">
                            <p>Quotes</p>
                        </div>
                        <div class="mainLayer">
                            <p id="userId">
                                1
                            </p>
                            <p id="title">
                                hello
                            </p>
                            <br>
                            <p id="boudy">
                                nigger
                            </p>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <!-- footer code -->
    {{>footer}}
    <script>AOS.init();</script>
    <script src="js/main.js"></script>
</body>

</html>